* {
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(63, 55, 62);
    margin: 0 !important;
    padding: 0 !important;
	background: linear-gradient(-120deg, rgb(0, 0, 0), rgb(17, 17, 27), rgb(30, 30, 46),#45475a, rgb(30, 30, 46), rgb(17, 17, 27), rgb(0, 0, 0));
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@font-face {
    font-family: 'homemade_appleregular';
    src: url('font/homemadeapple-webfont.woff2') format('woff2'),
         url('font/homemadeapple-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    margin: 5px !important;
    padding: 5px !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pfp {
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    animation: colorFade 5s infinite;
 }

 @keyframes colorFade {
    0% {
      box-shadow: 0px 0px 60px 10px rgb(255, 131, 249);
    }
    50% {
      box-shadow: 0px 0px 60px 10px #ff009d;
    }
    100% {
      box-shadow: 0px 0px 60px 10px rgb(255, 131, 249);
    }
  }

 .pfpdiv {
    display: block;
    margin-left: auto;
    width: 13.5em;
    margin-right: auto 
}

.bio {
    text-align: center;
    color: white
}